{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
    <main>
      <!-- класс py-5 создает отступы сверху и снизу блока -->
      <div class="container py-5">
        {% comment %} <h1>Лев Толстой – зеркало русской революции.</h1>
        <p>
          Группа тайных поклонников графа.
        </p> {% endcomment %}
        {% for post in posts %}
      <article>
        <ul>
          <li>
            Автор: {{ post.author.get_full_name }}
          </li>
          <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
        </ul>
          {% if post.group %}   
          <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
        {% endif %} #добвил груп
      <p>{{ post.text }}</p>    
      <a href="">все записи группы</a>
      {% if not forloop.last %}<hr>{% endif %} 
    </article>
        <!-- под последним постом нет линии -->
      </div>  
    </main>
{% endblock %}